@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
:root {
  font-size: 15px;
  scroll-behavior: smooth;
}
body{
    background-color: #080828;
    color: white;
  }
#main{
  margin-left: 0px;
}
.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #00001a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
  }
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.25rem;
    color: #818181;
    display: block;
    transition: 0.5s;
  }
.sidenav a:hover {
    color: white;
    }
.main {
    margin-left: 250px;
    font-size: 28px;
    padding: 0px 10px;
    padding-left: 30px;
  }
.button-text {
  padding-left: 45px;
  padding-right: 20px;
  font-size: 19px;
  font-family: 'Sen', sans-serif;
}
.list-item {
  font-family: 'Sen', sans-serif;
  width: 90%;
  white-space: nowrap;
}
hr {
  width: 90%;
}
.date_col{
  margin-left: 40px;
}
.folder{
  color: #6699ff;
}
.grid-cols-1{
  font-size: 1.2rem;
}
.marquee {
  overflow-x: hidden;
  position: relative;
}
.marquee-content:hover {
  margin-right: 250px;
  position: absolute;
  animation: scroller 5s linear infinite;
  min-width: 90%; /* This needs to match the width of the parent */
}
@keyframes scroller {
  0% {
      transform: translateX(0%);
  }
  20% {
      transform: translateX(0%);
  }
  80% {
      transform: translateX(calc(-100% + 82%)); 
  }
  100% {
      transform: translateX(calc(-100% + 82%));
  }
}

#rmenu{
  position: absolute;
  height: 200px;
  width: 160px;
  background: #01012e;
  font-size: 1rem;
  display: none;
  text-align: center;

}
#rmenu-link:hover, #rmenu-content:hover{
  background: #F9F9F9;
  color: #6699ff;
}
.context-selected, .contextM:hover{
  background: #F9F9F9;
  color: #6699ff;

}