{% extends "public_header.html" %}
{% block body %}
<style>
    body{
        background-color: #00001a;
        color: #e6e6e6;
    }
</style>
<br>
<center>
    <br><br><br><br><br><br><br><br><br><br>
    <div class="milk items-center text-6xl font-mono hover:text-blue-500">
        <a href="/">literate-disco</a>
    </div>
    <div class="font-mono" style="margin-bottom: 10px;">
        A file UI alternative to Google Drive.
    </div>
    <hr style="width: 50%;">
    <div>
        <p style="margin-top: 5px; text-align: center; width: 50%" class="text-center">
            Simply put, this site is a replacement file browser for the Google Drive Web UI. 
            <br><br>
            It is aimed to be faster at doing nearly everything Google's own UI does.
            <br><br>
            Enjoy.
        </p>
    </div>
</center>
{% endblock %}
