{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if debug is False %}
        <link href="http://site.developer.lgbt{% static 'tailwind.min.css'%}" rel="stylesheet">
        <link href="http://site.developer.lgbt{% static 'main.css' %}" type="text/css" rel="stylesheet">
    {% elif debug is True%}
        <link href="{% static 'tailwind.min.css'%}" rel="stylesheet">
        <link href="{% static 'main.css' %}" type="text/css" rel="stylesheet">
    {% endif %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="sidenav-bar" class="sidenav font-mono">
        <a class="text-right" onclick="closeNav()">X</a>
        <br><br>
        <a href="/" class="sidebar-item">Home</a>
        <a href="/search" class="sidebar-item">Search</a>
        <hr>
        <a href="/files/my-drive" class="sidebar-item">My Drive</a>
        <a href="/shared_drives" class="sidebar-item">Shared Drives</a>
        <hr>
        <a href="/files/shared-with-me" class="sidebar-item">Shared With Me</a>
        <a href="/files/favourites" class="sidebar-item">Favourites</a>
        <hr>
        <a href="/settings" class="sidebar-item">Settings</a>
    </div>
    <div id="main" class="main font-mono">
        <a id="opennav" onclick="openNav()">-></a>
        {% block body %}

        {% endblock %}
    </div>
    <script>
        function openNav() {
            document.getElementById("sidenav-bar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.getElementById("opennav").style.display = "none";
          }
        function closeNav() {
            document.getElementById("sidenav-bar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("opennav").style.display = "block";
        }
    </script>
</body>