{% extends "public_header.html" %}
{% block body %}
<style>
    body{
        background-color: #00001a;
        color: #e6e6e6;
    }
</style>
<br>
<center>
    <br><br><br><br><br><br><br><br><br><br>
    <div class="milk items-center text-6xl font-mono hover:text-blue-500">
        <a href="/">milkbox</a>
    </div>
    <div class="font-mono" style="margin-bottom: 10px;">
        A file UI alternative to Google Drive.
    </div>
    <hr style="width: 50%;">
    <div>
        <p style="margin-top: 5px; text-align: justify; width: 50%">
            This site does not share personal information with third parties nor do we store any information about your visit to this site other than to analyze and optimize the content you use and experience you have on our site through the use of cookies.
            <br><br>
            You can turn off the use of cookies at anytime by changing your specific browser settings.
            <br><br>
            None of your files are stored or used outside of your use case, we are not responsible for anything shown through our UI.
            <br><br>
            This privacy policy is subject to change without notice and was last updated on March, 29th, 2020. If you have any questions feel free to contact me directly here:        <a href="mailto:allilk@developer.lgbt" class="hover:text-blue-500"> allilk@developer.lgbt</a>
            <br><br>
        </p>
    </div>
</center>
{% endblock %}
